<!DOCTYPE html>
<html>
  <head>
    <title>ThisCord</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', "https://fonts.googleapis.com/css?family=Open+Sans", media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
    window.homeicon2 = "<%= image_url('nav1/homeicon2.png')%>"
    window.create_action_icon = "<%= image_url('nav1/create_action_icon.png')%>"
    window.logo = "<%= image_url('splash/blackNwhite.png')%>"
    window.AndroidP = "<%= image_url('splash2/AndroidP.svg')%>"
    window.bomb = "<%= image_url('splash2/bomb.svg')%>"
    window.circle = "<%= image_url('splash2/circle.svg')%>"
    window.coin = "<%= image_url('splash2/coin.svg')%>"
    window.controller = "<%= image_url('splash2/controller.svg')%>"
    window.disc = "<%= image_url('splash2/disc.svg')%>"
    window.flashdrive = "<%= image_url('splash2/flashdrive.svg')%>"
    window.headphone = "<%= image_url('splash2/headphone.svg')%>"
    window.iphone = "<%= image_url('splash2/iphone.svg')%>"
    window.mainMonitor = "<%= image_url('splash2/mainMonitor.svg')%>"
    window.mushroom = "<%= image_url('splash2/mushroom.svg')%>"
    window.potion = "<%= image_url('splash2/potion.svg')%>"
    window.question = "<%= image_url('splash2/question.svg')%>"
    window.singleDot = "<%= image_url('splash2/singleDot.svg')%>"
    window.square = "<%= image_url('splash2/square.svg')%>"
    window.X = "<%= image_url('splash2/X.svg')%>"
    window.zelda = "<%= image_url('splash2/zelda.svg')%>"
    </script>


  </head>
  
  <body>
    <%= yield %>
  </body>
</html>
